<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSKonf25.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC057DC82DA5905B006D1315</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC057DD62DA5905E006D1315</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC057DE02DA5905E006D1315</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
